.team-list{
  &--list {
    &.no-results {
      text-align: center;
      p {
        font-size: 3rem;
      }
    }
    &--item {
      position: relative;
      display: block;
      padding: $padding-desktop-md / 1.5;
      text-decoration: none;
      background: $color-white;
      transition: box-shadow .45s ease;
      &:nth-child(even){
        background: #eaeaea;
      }
      &--header {
        h3 {
          margin-top: 1rem;
          margin-bottom: 2rem;
          color: $color-black;
        }
        p {
          margin-bottom: 1.5rem;    
        }
      }
      .pokemon-list {
        padding-top: 2rem;
        display: flex;
      }
      .actions {
        position: absolute;
        right: -20px;
        top: $padding-desktop-md / 2;
        opacity: 0;
        transition: .45s ease all;
        form {
          padding: 0;
          .btn {
            margin: 0;
            padding: 0;
            line-height: 0;
            width: 0;
            height: 0;
            font-size: 20px;
            padding: 24px 35px 26px 16px;
          }
        }
      }
      &:hover,
      &:focus {
        z-index: 2;
        box-shadow: 0px 0px 52px 0px rgba(0,0,0,0.55);
        .actions {
          opacity: 1;
          right: $padding-desktop-md / 2;
        }
      }
      @include media-breakpoint-down('xl') {
        .pokemon-list .pokemon-list--single {
          width: 15%;
        }
      }
      @include media-breakpoint-down('lg') {
        .pokemon-list{
          display: block;
          text-align: center;
          .pokemon-list--single {
            display: inline-block;
            width: 30%;
            vertical-align: top;
            margin-bottom: 2rem;
          }
        }
        &--header {
          padding-right: 40px;
        }
        .actions {
          opacity: 1;
          right: $padding-desktop-md / 2;
        }
      }
      @include media-breakpoint-down('sm') {
        .pokemon-list{
          .pokemon-list--single {
            width: 45%;
          }
        }
      }
    }
    @include media-breakpoint-down('sm') {
      padding: $padding-mobile-md 0 $padding-mobile-sm;
    }
    @include media-breakpoint-up('md') {
      padding: $padding-desktop-md 0 $padding-desktop-sm;
    }
  }
  &--add {
    text-align: center;
    @include media-breakpoint-down('sm') {
      padding: $padding-mobile-md 0 $padding-mobile-lg;
    }
    @include media-breakpoint-up('md') {
      padding: $padding-desktop-md 0 $padding-desktop-lg;
    }
  }
}
