@import "global/_all"; // GLOBAL

@import "general/_all"; // GENERAL STYLE
@import "theme/_all"; // THEME & COMPONENTS STYLE

html {
  font-size: 62.5%;
  @include media-breakpoint-down('md') {
    font-size: 54%;
  }
  @include media-breakpoint-down('sm') {
    font-size: 45.5%;
  }
  @include media-breakpoint-down('xs') {
    font-size: 35.5%;
  }
}

body {
  font-family: $font-family-primary;
  font-size: 1rem;
  margin: 0;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: bold;
}

.tpl,
.hidden {
  visibility: hidden;
  display: none;
}
