<div class='pokemon-list--single tpl'>
	<div class='name'></div>
	<div class='exp'></div>
	<div class="img-wrapper">
        <img/>
    </div>
	<div class='abilities'>
	</div>
    <div class='types'>
    </div>
	<button class="pokemon-remove-btn" data-path='local'>
		Remove
	</button>
</div>