<div class='pokemon-list--single tpl'>
	<div class='name'></div>
	<div class='exp'></div>
	<div class='img'></div>
	<div class='abilities'></div>
	<div class='types'></div>
	<button class="pokemon-remove-btn" data-path='{{ (path('remove_pokemon')) }}'>
		Remove
	</button>
</div>