
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> yarn ###
/public/build
/lib
/lib-legacy
/node_modules
*.log
/.nyc_output
/coverage
/dist
/dist-debug
/artifacts
/updates
/resources/winsetup/generated.wxs
/resources/winsetup/obj
/resources/winsetup/bin
/resources/win-chocolatey/tools/chocolateyinstall.ps1
.vs
*.msi
*.nupkg
test/fixtures/**/.fbkpm
/tmp/
/__tests__/fixtures/**/_*
/__tests__/fixtures/request-cache/GET/localhost/.bin
.idea
.yarn-meta
.pnp.js
.pnp
/packages/lockfile/index.js
.vscode/
###< yarn
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
